{% extends "base.html" %}

{% block content %}
<style>
h2{
    color: #3297a5
}
p{
    font-size: 19px;
}
</style>
    <h2>Detalles de la actividad: {{object.nombre}}</h2>

    <p>Local donde se imparte: {{object.local}}</p>
    <p>Tipo de actividad: {{object.tipo}}</p>
    <p>Descripción de la actividad: {{object.descripcion}}</p>
    <p>Creador de la actividad: {{object.creador}}</p>
    <p><a href= "{% url 'actividad-update' actividad.pk %}">Modificar</a></p>
    <p><a href= "{% url 'actividad-delete' actividad.pk %}">Eliminar</a></p>
{% endblock %}