{% extends "base.html" %}

{% block content %}
<style>
h2{
    color: #3297a5
}
p{
    font-size: 19px;
}
</style>
    <h2>Detalles del usuario: {{object.edad}}</h2>
    <p>Nombre: a (mister jagger) {{object.edad}}</p>
    <p>Edad: {{object.edad}}</p>
    <p>Dirección: {{object.direccion}}</p>
    <p>Código postal: {{object.cod_postal}}</p>
    <p>Ciudad: {{object.ciudad}}</p>
    <p>DNI: {{object.dni}}</p>
    <p>Teléfono: {{object.telefono}}</p>
    <p><a href= "{% url 'usuario-update' usuario.pk %}">Modificar</a></p>
    <p><a href= "{% url 'usuario-delete' usuario.pk %}">Eliminar</a></p>
    
{% endblock %}